.user-settings{
  margin-top: 10px;
  display: flex;
  justify-content:center;
    button{
      margin-inline: 10px;
    }
}

.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 15px;
  margin-top: 6%;
}